body {
  font-family: 'Roboto';
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 738px;
    padding: 0;
  }
  @media (min-width: 1200px) {
    max-width: 1248px;
  }
}

html {
  scroll-behavior: smooth;
}

input {
  outline: none;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
// container
.container {
  height: 100%;
}

body {
  font-family: Roboto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  @media (min-width: 768px) {
    padding: 32px;
    width: 768px;
  }
  @media (min-width: 1280px) {
    padding: 0 16px;
    width: 1280px;
  }
}

.example {
  height: 200px;
}

// .invalid__text {
//   position: relative;
//   opacity: 0;
//   width: 232px;
//   height: 15px;
//   font-weight: 400;
//   font-size: 10px;
//   line-height: 150%;
//   color: $invalid;
//   // top: -25px;
//   left: -27px;
// }
// .invalid__text::before {
//   content: "";
//   background-image: url(../images/banana/error.svg);
//   background-size: 12px 12px;
//   background-repeat: no-repeat;
//   display: block;
//   width: 12px;
//   height: 12px;
//   position: absolute;
//   left: -15px;
// }