$button-green: #bbf330;
$dark-green: #7eb101;
$yellow-main: #ffe550;
$black: #2c2c2c;
$white: #fefefe;
$two: #a7ce47;
$tekst: #3d3d3d;
$tekst2: #969696;
$tekst3: #4a4a4a;
$base: #fff;
$textInput: #505050;
