<section class="food">
  <div class="container">
    <h1 class="food__title">Some of Our Favorites</h1>
    <h2 class="food_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <ul class="food__list">
      <li class="food__item">
        <picture>
          <source
            srcset="
              ../src/images/food/mobile/gamburger-mobile1x.jpg 1x,
              ../src/images/food/mobile/gamburger-mobile2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="food__img"
            src="../src/images/food/mobile/gamburger-mobile1x.jpg"
            alt="computer"
          />
        </picture>
      </li>
      <li class="food__item"></li>
      <li class="food__item"></li>
      <li class="food__item"></li>
      <li class="food__item"></li>
      <li class="food__item"></li>
    </ul>
  </div>
</section>