<section id="food" class="food">
  <div class="container">
    <h1 class="food__title">Some of Our Favorites</h1>
    <h2 class="food__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </h2>
    <ul class="food__list">
      <li class="food__item">
        <picture>
          <source
            srcset="
              ./images/food/desktop/gamburger1x.png 1x,
              ./images/food/desktop/gamburger2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/food/tablet/gamburger1x.png 1x,
              ./images/food/tablet/gamburger2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/food/mobile/gamburger1x.png 1x,
              ./images/food/mobile/gamburger2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="food__img"
            src="./images/food/desktop/gamburger1x.png"
            alt="burger"
          />
        </picture>
      </li>
      <li class="food__item">
        <picture>
          <source
            srcset="
              ./images/food/desktop/Pasta1x.png 1x,
              ./images/food/desktop/Pasta2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/food/tablet/Pasta1x.png 1x,
              ./images/food/tablet/Pasta2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/food/mobile/Pasta1x.png 1x,
              ./images/food/mobile/Pasta2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="food__img"
            src="./images/food/tablet/Pasta1x.png"
            alt="pasta"
          />
        </picture>
      </li>
      <li class="food__item">
        <picture>
          <source
            srcset="
              ./images/food/desktop/pizza1x.png 1x,
              ./images/food/desktop/pizza2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/food/tablet/pizza1x.png 1x,
              ./images/food/tablet/pizza2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/food/mobile/pizza1x.png 1x,
              ./images/food/mobile/pizza2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="food__img"
            src="./images/food/tablet/pizza1x.png"
            alt="pizza"
          />
        </picture>
      </li>
      <li class="food__item">
        <picture>
          <source
            srcset="
              ./images/food/desktop/chicken1x.png 1x,
              ./images/food/desktop/chicken2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/food/tablet/chicken1x.png 1x,
              ./images/food/tablet/chicken2x.png 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="food__img"
            src="./images/food/tablet/chicken1x.png"
            alt="chicken"
          />
        </picture>
      </li>
      <li class="food__item">
        <picture>
          <source
            srcset="
              ./images/food/desktop/salat1x.png 1x,
              ./images/food/desktop/salat2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/food/tablet/salat1x.png 1x,
              ./images/food/tablet/salat2x.png 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="food__img"
            src="./images/food/tablet/salat1x.png"
            alt="salad"
          />
        </picture>
      </li>
      <li class="food__item">
        <picture>
          <source
            srcset="
              ./images/food/desktop/borshch1x.png 1x,
              ./images/food/desktop/borshch2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/food/tablet/borshch1x.png 1x,
              ./images/food/tablet/borshch2x.png 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="food__img"
            src="./images/food/tablet/borshch1x.png"
            alt="borsch"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
