<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <img src="./icons/logo.svg" alt="logo" style="margin-bottom: 62px" />
      <div class="footer__menu">
        <a href="#" class="footer__link">Home</a>
        <a href="#" class="footer__link">About</a>
        <a href="#" class="footer__link">Service</a>
        <a href="#" class="footer__link">Menu</a>
        <a href="#" class="footer__link">Contact</a>
      </div>
      <div class="footer__wrapper--input">
        <h4 class="footer__subtitle">Subscribe</h4>
        <div class="footer__wrapper--btn">
          <div class="footer__box">
            <input
              type="text"
              class="footer__input"
              placeholder="Enter your email"
            />
          </div>
          <button class="footer__btn">Subscribe</button>
        </div>

        <p class="footer__text">
          By subscribing you agree to with our
          <a href="#" class="footer__link--privacy">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer__wrapper--terms">
      <div class="footer__box--service">
        <a href="#" class="footer__link--settings">Privacy Policy</a
        ><a href="#" class="footer__link--settings">Terms of Service</a
        ><a href="#" class="footer__link--settings">Cookies Settings</a>
      </div>
      <p class="foooter__text--rights">2022 FoodSta. All right reserved.</p>
    </div>
    <picture class="footer__img">
      <source
        srcset="
          ./images/Fruits-dekstop1x.png  1x,
          ./images/Fruitss-dekstop2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/fruits-tablet1x.png 1x,
          ./images/fruits-tablet2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="workers__img"
        src="./images/fruits-mobile1x.png"
        alt="marketing"
        srcset="
          ./images/fruits-mobile1x.png 1x,
          ./images/fruits-mobile2x.png 2x
        "
      />
    </picture>
  </div>
</footer>
