<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__wrapper--nav">
        <img class="footer__logo" src="./icons/logo.svg" alt="logo" />
        <div class="footer__menu">
          <a href="#" class="footer__link">Home</a>
          <a href="#" class="footer__link">About</a>
          <a href="#" class="footer__link">Service</a>
          <a href="#" class="footer__link">Menu</a>
          <a href="#footer" class="footer__link">Contact</a>
        </div>
      </div>
      <form class="footer__wrapper--input">
        <label for="email" class="footer__subtitle">Subscribe</label>
        <div class="footer__wrapper--btn">
          <input
            type="email"
            id="email"
            class="footer__input"
            placeholder="Enter your email"
            required
          />
          <button class="footer__btn">Subscribe</button>
        </div>
        <p class="footer__text">
          By subscribing you agree to with our
          <a href="#" class="footer__link--privacy">Privacy Policy</a>
        </p>
      </form>
    </div>
    <div class="footer__wrapper--terms">
      <div class="footer__box">
        <a href="#" class="footer__link--settings">Privacy Policy</a
        ><a href="#" class="footer__link--settings">Terms of Service</a
        ><a href="#" class="footer__link--settings">Cookies Settings</a>
      </div>
      <p class="footer__text--rights">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
