<footer class="footer">
  <div class="container">
    <img src="./icons/logo.svg" alt="logo" />
    <ul class="footer__menu">
      <li class="footer__item"><a href="#" class="footer__link">Home</a></li>
      <li class="footer__item"><a href="#" class="footer__link">About</a></li>
      <li class="footer__item"><a href="#" class="footer__link">Service</a></li>
      <li class="footer__item"><a href="#" class="footer__link">Menu</a></li>
      <li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
    </ul>
    <h4 class="footer__subtitle">Subscribe</h4>
    <div class="footer__wrapper">
      <div class="footer__box">
        <input type="text" class="footer__input" placeholder="E-mail" />
      </div>
      <button class="footer__btn">Subscribe</button>
    </div>
    <p class="footer__text">
      By subscribing you agree to with our
      <a href="#" class="footer__link--privacy">Privacy Policy</a>
    </p>
    <div class="footer__wrapper--terms">
      <div class="footer__box--service">
        <a href="#" class="footer__link--settings">Privacy Policy</a
        ><a href="#" class="footer__link--settings">Terms of Service</a
        ><a href="#" class="footer__link--settings">Cookies Settings</a>
        <p class="foooter__text--rights">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
