<header class="header">
  <div class="container">
    <a class="header__home" href="#">
      <img src="./images/favicon/logo.svg" alt="" class="header__logo" />
    </a>

    <nav class="header__menu">
      <ul class="header__ul">
        <li class="header__li">
          <a href="#" class="header__link">Home</a>
        </li>
        <li class="header__li">
          <a href="#" class="header__link">About</a>
        </li>
        <li class="header__li">
          <a href="#" class="header__link">Service</a>
        </li>
        <li class="header__li">
          <a href="#" class="header__link">Menu</a>
        </li>
        <li class="header__li">
          <a href="#" class="header__link">Contact</a>
        </li>
      </ul>
      <button class="btn header__btn">Order now</button>
    </nav>
  </div>
</header>
