<div id="modal" class="modal">
  <!-- Modal content -->
  <div class="modal__window">
    <button class="modal__close">&times;</button>
    <h2 class="modal__title">Order Form</h2>
    <form action="" class="modal__form">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Your Name"
        required
      />
      <label for="phone">Phone:</label>
      <input
        type="number"
        id="phone"
        name="phone"
        placeholder="+38(0_ _)  _ _ _  _ _  _ _"
        required
      />
      <label for="email">E-mail:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="example@gmail.com"
      />
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>
