<main>
  <section class="offer">
    <div class="container">
      <div class="offer__main">
        <div class="offer__apples" data-aos="flip-left">
          <picture class="footer__apple--big">
            <source
              srcset="
                ./images/apple-desk1x.png 1x,
                ./images/apple-desk2x.png 2x
              "
              media="(min-width:1280px)"
            />

            <source
              srcset="
                ./images/Apple-tablet1x.png 1x,
                ./images/Apple-tablet2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <img
              class="offer__img"
              src="./images/Apple-mobile1x.png"
              alt="apple1"
              srcset="
                ./images/Apple-mobile1x.png 1x,
                ./images/Apple-mobile2x.png 2x
              "
            />
          </picture>
          <picture class="offer__apple">
            <source
              srcset="
                ./images/apple-transp-tablet1x.png      1x,
                ./images/apple-transperent-tablet2x.png 2x
              "
              media="(min-width: 768px)" />
            <img
              class="offer__img"
              src="./images/apple-transp-tablet1x.png"
              alt="apple2"
          /></picture>
          <picture class="offer__apple2">
            <source
              srcset="
                ./images/apple-transperent2-tablet1x.png 1x,
                ./images/apple-transp2-tablet2x.png      2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="offer__img"
              src="./images/apple-transperent2-tablet1x.png"
              alt="apple3"
            />
          </picture>
        </div>
        <div class="offer__text">
          <h2 class="offer__title">What’s Special About Our Offerings</h2>
          <p class="offer__subtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </p>
          <ul class="offer__list">
            <li class="offer__item">
              <img src="./icons/rocket.svg" alt="rocket" />
              <h4 class="offer__descr">Fasest Delivery</h4>
              <p class="offer__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
            </li>
            <li class="offer__item">
              <img src="./icons/order.svg" alt="order" />
              <h4 class="offer__descr">Easy To Order</h4>
              <p class="offer__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
            </li>
          </ul>
          <div class="offer__btns">
            <button class="offer__btn modal__btn">Order Now</button>
            <a href="#" class="offer__link"
              >Read More<svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="14"
                viewBox="0 0 15 14"
                fill="none"
                style="margin-bottom: -3px"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.59478 6.87253C9.74906 7.02681 9.74906 7.2769 9.59478 7.43118L5.56715 11.4588C5.41287 11.6131 5.16278 11.6131 5.0085 11.4588L4.82225 11.2726C4.66797 11.1183 4.66797 10.8682 4.82225 10.7139L8.38431 7.15186L4.82225 3.5898C4.66797 3.43552 4.66797 3.18543 4.82225 3.03115L5.0085 2.8449C5.16278 2.69062 5.41287 2.69062 5.56715 2.8449L9.59478 6.87253Z"
                  fill="black"
                /></svg
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
