<main>
  <section class="offer">
    <div class="container">
      <picture>
        <source
          srcset="./images/apple-desk1x.png 1x, ./images/apple-desk2x.png 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/Apple-tablet1x.png 1x,
            ./images/Apple-tablet2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="offer__img"
          src="./images/Apple-mobile1x.png"
          alt="apple1"
          srcset="
            ./images/Apple-mobile1x.png 1x,
            ./images/Apple-mobile2x.png 2x
          "
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/apple-transp-tablet1x.png      1x,
            ./images/apple-transperent-tablet2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="offer__img"
          src="./images/apple-transp-tablet1x.png"
          alt="apple2"
        />
      </picture>
      <div class="offer__text">
        <h2 class="offer__title">What’s Special About Our Offerings</h2>
        <p class="offer__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <ul class="offer__list">
          <li class="offer__item">
            <img src="./icons/rocket.svg" alt="rocket" />
            <h4 class="offer__descr">Fasest Delivery</h4>
            <p class="offer__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
          <li class="offer__item">
            <img src="./icons/order.svg" alt="order" />
            <h4 class="offer__descr">Easy To Order</h4>
            <p class="offer__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>
        <button class="offer__btn">Order Now</button>
      </div>
    </div>
  </section>
</main>
