<section class="promo">
  <div class="container">
    <div class="promo__text">
      <h1 class="promo__title">Enjoy Your Favorite <br> Food From Anywhere</h1>
      <p class="promo__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
      <button class="btn promo__btn">Order now</button>
    </div>
    <div class="promo__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/slider-1.png" alt="slide-1" />
        </div>
        <div class="swiper-slide">
          <img src="./images/slider-2.png" alt="slide-2" />
        </div>
        <div class="swiper-slide">
          <img src="./images/slider-3.png" alt="slide-3" />
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev" data-swiper-autoplay="0" speed="500"></div>
      <div class="swiper-button-next" data-swiper-autoplay="0" speed="500"></div>

      <!-- If we need scrollbar -->
    </div>
  </div>
</section>