<section class="promo">
  <div class="container">
    <div class="promo__text">
      <h1 class="promo__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="promo__p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="btn promo__btn">Order now</button>
    </div>
    <div class="promo__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/slider-1@1x-desctop.png 1x,
                ./images/slider-1@2x-desctop.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/slider-1@1x-tablet.png 1x,
                ./images/slider-1@2x-tablet.png 2x
              "
              media="(min-width:1200px)"
            />
            <img
              class="workers__img"
              src="./images/slider-1@1x-tablet.png"
              alt="marketing"
              srcset="
                ./images/slider-1@1x-tablet.png 1x,
                ./images/slider-1@2x-tablet.png 2x
              "
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/slider-2@1x-desctop.png 1x,
                ./images/slider-2@2x-desctop.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/slider-2@1x-tablet.png 1x,
                ./images/slider-2@2x-tablet.png 2x
              "
              media="(min-width:1200px)"
            />
            <img
              class="workers__img"
              src="./images/slider-1@1x-tablet.png"
              alt="marketing"
              srcset="
                ./images/slider-2@1x-tablet.png 1x,
                ./images/slider-2@2x-tablet.png 2x
              "
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/slider-3@1x-desctop.png 1x,
                ./images/slider-3@2x-desctop.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/slider-3@1x-tablet.png 1x,
                ./images/slider-3@2x-tablet.png 2x
              "
              media="(min-width:1200px)"
            />
            <img
              class="workers__img"
              src="./images/slider-3@1x-tablet.png"
              alt="marketing"
              srcset="
                ./images/slider-3@1x-tablet.png 1x,
                ./images/slider-3@2x-tablet.png 2x
              "
            />
          </picture>
        </div>
      </div>

      <div
        class="swiper-button-prev"
        data-swiper-autoplay="0"
        speed="500"
      ></div>
      <div
        class="swiper-button-next"
        data-swiper-autoplay="0"
        speed="500"
      ></div>
    </div>
  </div>
  <!-- <img src="./images/figure1.svg" alt="" /> -->
</section>
