.footer {
  padding-top: 80px;
  background: $white;
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
  &__link {
    color: $black;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    &--privacy {
      color: $dark-green;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
    }
    &--settings {
      color: $dark-green;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: underline;
      @media (min-width: 768px) {
        font-size: 12px;
      }
    }
  }
  &__subtitle {
    color: $black;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 13px;
    @media (min-width: 1200px) {
      padding: 0;
    }
  }
  &__box {
    height: 42px;
    border-radius: 30px;
    border: 0.854px solid $yellow;
    background: $white;
    padding: 12px 61.5px 12px 12px;
    width: 279px;

    &--service {
      display: flex;
      gap: 35px;
      justify-content: center;
    }
  }
  &__input {
    color: $dark-black;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
  }
  &__btn {
    height: 42px;
    border-radius: 30px;
    border: 0.854px solid $dark-green;
    background: #fff;
    padding: 11px 22px;
    margin-left: 162px;
    margin-top: 20px;
  }
  &__wrapper {
    &--terms {
      padding-top: 45px;
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
      }
    }
    &--btn {
      @media (min-width: 768px) {
        display: flex;
        gap: 13px;
      }
    }
    justify-content: space-around;
    flex-direction: row;
    @media (min-width: 1200px) {
      display: flex;
    }
  }
  &__text {
    color: $black;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &--rights {
      color: $black;
      font-family: Roboto;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      margin-top: 40px;
      @media (min-width: 768px) {
        font-size: 12px;
        margin: 0;
      }
    }
  }
  &__menu {
    display: flex;
    gap: 28px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      display: flex;
      gap: 28px;
      justify-content: center;
      flex-direction: row;
    }
  }
  &__img {
    position: absolute;
    left: -5px;
    top: 39px;
    @media (min-width: 768px) {
      position: absolute;
      left: -5px;
      top: 39px;
    }
    @media (min-width: 1200px) {
      position: absolute;
      left: 80px;
      top: 152px;
    }
  }
  &__logo {
    margin-bottom: -16px;
    @media (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
}
