.offer {
  background-image: url(../images/Bg.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  padding-bottom: 110px;
  background-position: center;
  @media (min-width: 768px) {
    background-size: 100% 100%;
    background-image: url(../images/bg-tablet.png);
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__apples {
    display: flex;
    gap: 44px;
  }

  &__title {
    color: $black;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
    /* 50.4px */
    @media (min-width: 768px) {
      font-size: 42px;
    }
  }

  &__subtext {
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* 24px */
    margin-bottom: 40px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__desc {
    color: $black;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 16px;
    /* 21px */
  }

  &__descr {
    color: #2c2c2c;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__btn {
    cursor: pointer;
    margin-top: 40px;
    border-radius: 30px;
    border: 2px solid $dark-green;
    background: #fff;
    padding: 10px 22px;

    &:hover {
      border-color: #597d00;
      transition: 2s, ease-in-out, 1s;
      background-color: $dark-green;
      color: #fff;
    }
  }

  &__wallpaper {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &__list {
    display: flex;
    list-style-type: none;
    gap: 28px;
    flex-direction: column;
    @media (min-width: 768px) {
      display: flex;
      list-style-type: none;
      gap: 67px;
      flex-direction: row;
    }
  }

  &__text {
    margin-left: 20px;
    // display: flex;
    // flex-direction: column;
    @media (min-width: 1280px) {
      width: 573px;
    }
  }
  &__apple {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 1280px) {
      display: none;
    }
  }
  &__link {
    color: $black;
    font-family: Roboto;
    font-size: 13.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 20.5px */
    text-decoration: none;
    padding-left: 24px;
    cursor: pointer;
    &:hover {
      color: #fff;
      transition: 2s, ease-in-out, 1s;
      path {
        fill: #fff;
      }
    }
    @media (min-width: 1280px) {
      display: none;
    }
  }
  &__apple {
    position: relative;
    top: 111px;
  }
  &__apple2 {
    display: none;
    position: relative;
    top: 187px;

    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 1280px) {
      display: none;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 41px;
    gap: 60px;
    @media (min-width: 768px) {
      padding-top: 80px;
    }
    @media (min-width: 1280px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 90px;
      padding-top: 200px;
    }
  }
}
