.offer {
  background-image: url(../images/wallpaper.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;

  .container {
    display: flex;
    align-items: center;
  }

  &__title {
    color: $black;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
    /* 50.4px */
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__subtext {
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
  }

  &__text {
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 25.2px */
  }

  &__desc {
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
  }

  &__btn {
    cursor: pointer;
    margin-top: 40px;
    border-radius: 30px;
    border: 2px solid $dark-green;
    background: #fff;
    padding: 10px 22px;

    &:hover {
      border-color: #597d00;
      transition: 2s, ease-in-out, 1s;
      background-color: $dark-green;
      color: #fff;
    }
  }

  &__wallpaper {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &__list {
    display: flex;
    list-style-type: none;
    gap: 67px;
  }

  &__text {
    margin-left: 40px;
  }
}
