.promo {
  margin-top: 95px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width:768px) {
      position: relative;
    }

    @media (min-width:1280px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 700;

    @media (min-width:768px) {
      width: 537px;
      font-size: 42px;
    }

    @media (min-width:1280px) {
      font-size: 48px;
      width: auto;
    }
  }

  &__p {
    font-size: 14px;
    line-height: 1.5;

    @media (min-width:768px) {
      width: 336px;
      font-size: 16px;
    }

    @media (min-width:1280px) {
      width: auto;
    }
  }

  &__text {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    @media (min-width:768px) {
      order: 1;
    }

    @media (min-width:1280px) {
      width: 502px;
      order: 1;
    }
  }

  .swiper {
    margin: 0;
    order: 1;
    display: none;
    top: 0;
    width: 320px;
    height: min-content;
    // position: relative;
    margin-bottom: 15px;

    @media (min-width:768px) {
      display: block;
      position: absolute;
      right: 23px;
      top: 105px;
      width: 336px;
    }

    @media (min-width:1280px) {
      position: relative;
      width: 608px;
    }

  }

  .swiper-button-prev,
  .swiper-button-next {
    transition: 0.5s;
    width: 28px;
    height: 34px;
    background-color: $white;
    border-radius: 4px;
    color: #2c2c2c;
    -webkit-box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.75);

    &:hover {
      color: $dark-green;
    }

    @media (min-width:1280px) {
      width: 40px;
      height: 48px;
    }
  }

  .swiper-slide {
    text-align: center;
  }

  .btn {
    margin-top: 40px;
  }

  .swiper-slide img {
    // width: 100%;
    border: 14px solid $yellow;
    border-radius: 100%;
width: 100%;
    @media (min-width:1280px) {
      border-width: 16px;
    }
  }

  // &__title {
  //   margin: 0;
  //   margin-bottom: 28px;
  // }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px;
    font-weight: 500;
  }
}