.review {
  background-image: url(../images/phone-yellow-bg.png);
  height: 770px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    background-image: url(../images/laptopBG.png);
    height: 560px;
  }
  @media (min-width: 1280px) {
    background-image: url(../images/desktopBG.png);
    height: 650px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__dive-titles {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    padding: 0;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    color: var(--black);
    @media (min-width: 1280px) {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 42px;
      color: var(--black);
    }
    @media (min-width: 768px) {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 42px;
      color: var(--black);
    }
  }
  &__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    @media (min-width: 768px) {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--black);
    }
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: var(--black);
  }
  &__man-img {
    width: 49px;
    height: 49px;
    border-radius: 100px;
    border: 2px solid yellow;
  }
  &__name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--black);
  }
  &__dude {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--black);
  }
  &__windows {
    // padding-left: 20px;
    @media (min-width: 360px) {
      padding-left: 25px;
    }
    @media (min-width: 768px) {
      display: flex;
      gap: 32px;
      padding-left: 0px;
    }
  }
  &__window-one {
    margin-top: 32px;
    background-color: white;
    border-radius: 0px 30px 30px 30px;
    width: 280px;
    height: 228px;
    @media (min-width: 768px) {
      display: flex;
      width: 336px;
      height: 244px;
    }
    @media (min-width: 1280px) {
      width: 501px;
      height: 227px;
    }
  }
  &__window-one-wrapper {
    padding-left: 8px;
    padding-top: 8px;
  }
  &__window-two {
    margin-top: 32px;
    background-color: white;
    border-radius: 0px 30px 30px 30px;
    width: 280px;
    height: 228px;
    @media (min-width: 768px) {
      display: flex;
      width: 336px;
      height: 244px;
    }
    @media (min-width: 1280px) {
      width: 501px;
      height: 227px;
    }
  }
  &__window-two-wrapper {
    padding-left: 8px;
    padding-top: 8px;
  }
  &__people-comm {
    width: 170px;
    height: 52px;
    padding-right: 15px;
    border-right: 1px solid green;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  &__people-infos {
    margin-bottom: 15px;
    padding: 10px 0px 0px 0px;
    &::after {
      border: 0.85px solid var(--dark-green);
      width: 52px;
      height: 0px;
      transform: rotate(-90deg);
    }
  }
  &__people-name {
    padding-top: 10px;
    margin: 0px;
  }
  &__people-dude {
    padding-top: 10px;
    margin: 0px;
  }
}
